/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  height: 100dvh;
  font-family: monospace;

  display: flex;
}
.hidden{
  display:none;
}
button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
dialog {
  width: 30rem;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
}
dialog .buttons{
  display: flex;
  gap: 10px;
  margin-left: auto;
}
dialog button.closeButton {
  display: block;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  padding:8px;
}

dialog input[type="text"],
dialog textarea {
  display: block;
  width: 100%;
}

dialog form {
  display: grid;
  gap: 10px;
}

#createTodoButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.75rem;
  width: 40px;
  height: 40px;
}

/* Main Styling */
nav.sideBar {
  flex: 0.5;
  background-color: white;
  border-right: 1px solid rgb(222, 222, 222);
  padding: 10px;
  .logo {
    font-size: 2rem;
    font-weight: bolder;
  }
  position: relative;
}

nav.sideBar .projectsList {
  display: grid;
  gap: 1rem;
  margin: 10px 0;
}
nav.sideBar .projectTile {
  background-color: white;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border: solid 1px rgb(192, 192, 192);
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
}
.projectTile .projectName {
  padding: 10px;
  flex: 5;
}
nav.sideBar .projectTile:hover .removeProjectButton {
  opacity: 1;
}
nav.sideBar .projectTile .removeProjectButton {
  opacity: 0;
  display: block;
  transition: 300ms ease;
  background-color: transparent;
  color: grey;
  flex: 1;
  height: 100%;
}
nav.sideBar .projectsList .projectTile.active {
  background-color: black;
  color: white;
}

nav.sideBar .createProjectButton {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

nav.sideBar .createProjectInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
nav.sideBar .createProjectInput input {
  height: 25px;
  border: none;
  width: 95%;
  border-bottom: solid 1px rgb(121, 121, 121);
}

/* Main Content Styling */
.todoCompleted {
  opacity: 0.5;
}
.todoCompleted .todoTitle {
  text-decoration: line-through;
}
main.content {
  flex: 2;
  background-color: white;
}

/* Todo Styling */
.todo {
  padding: 20px 30px;
  border: solid 1px;
  border-radius: 10px;
  margin: 10px;
  max-width: 35rem;
}
.todo .todoMainTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo:hover .details {
  height: 5rem;
  overflow: scroll;
}
.todo .details {
  height: 0;
  overflow: clip;
  transition: 300ms ease;
  position: relative;
}
.todo .details:hover .utilities {
  opacity: 1;
}
.todo .details .utilities {
  opacity: 0;
  position: sticky;
  transition: inherit;
  bottom: 10px;
  margin-left: auto;
  display: flex;
  width: max-content;
  gap: 5px;
}
.todo .utilities button {
  position: relative;
  padding: 12px;
}
.todo .utilities button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
